img {
  max-height: 100%;
  max-width: 100%;
}

.diamond {
  color: #ffffff;
}

.gold {
  color: #f8cd53;
}

.silver {
  color: #C0C0C0;
}

.bronze {
  color: #CD7F32;
}

.logo-holder {
  text-align: center;
  margin-bottom: 3em; 
}

.logo-holder .logo {
  display: inline-block;
  margin: 10px 20px;
  height: 70px; 
}

.logo-holder .logo.diamond {
  height: 130px;
}

.logo-holder .logo.gold {
  height: 90px;
  max-width: 300px;
}

.logo-holder .logo.silver {
  height: 60px;
  max-width: 180px;
}

.logo-holder .logo.bronze {
  height: 45px;
  max-width: 120px;
}

.sponsor-section {
    width: 100%;
    padding-bottom: 50px 0;
    color: #000;
   background-color: #f7f7f7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.logo-holder .logo.partner {
  height: 100px;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid white;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

path {
  fill: transparent;
  transform-origin: center bottom;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.invisible {
  opacity: 0;
  transform: scale(0);
}

.absLogo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  height: 100%;
  width: 100%;
}

iframe {
  width: 100%    !important;
}

.registerButton {
    background-color: #385fcf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}